.art-container{
  width:1400px;
  margin:20px auto;
  columns: 4;
  column-gap: 20px;
}

.art-g{
  width:100%;
  margin-bottom: 10px;
  break-inside: avoid;
}

.art-g img{
  max-width: 100%;
  border-radius: 15px;
}
@media(max-width:1200px){
  .art-container{
    width: calc(100% - 40px);
    columns: 3;
  }
}

@media(max-width:768px){
  .art-container{
    columns: 2;
  }
}
@media(max-width:480px){
  .art-container{
    columns: 1;
  }
}
