.art-container{
  width:min(1400px, 95%);
  margin-top: 1.2rem;
  margin-inline: auto;
  columns: 4;
  column-gap: 1.2rem;
}

.art-g{
  width:100%;

  margin-bottom: .6rem;
  break-inside: avoid;
  position: relative;
  object-fit: cover;
}



.art-img{
  height: 100%;  
  max-width: 100%;
  border-radius: 1rem;
  transition: filter .2s;
  transition: transform .3s;
  cursor: pointer;
}

.art-img:hover{
  filter: brightness(80%);
  transform: scale(.9);
}



@media(max-width:1200px){
  .art-container{
    width: calc(100% - 40px);
    columns: 3;
    box-sizing: border-box;
    padding: 1.25rem 1.25rem 1.25rem 1.25rem;
  }
}

@media(max-width:768px){
  .art-container{
    columns: 2;
  }
}
@media(max-width:480px){
  .art-container{
    columns: 1;
  }
}
